<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
 <ul>


   <% @pokemon.each do |pokemon|%>
    <li> <a href="/pokemon/<%=pokemon.id%>"><%=pokemon.name%></a> </li>
   <%end%>

 </ul>
  </body>
</html>
